.mch-top-wrapper {
  position: relative;
  z-index: 5;
  background: #fff; }

.mch-header__menu:hover {
  padding: 20px 5px 22px 13px; }
  .mch-header__menu:hover .mch-menu__wrapper-img {
    padding-left: 22px; }
  .mch-header__menu:hover .mch-menu-btn__close {
    display: block; }
  .mch-header__menu:hover .mch-menu-btn__open--default {
    display: none; }
  .mch-header__menu:hover .mch-header__sub {
    animation: menu-catalog 1s ease-in; }

.mch-header__logo {
  width: 100%;
  height: 100%;
  position: relative;
  left: -30px; }

.mch-header__section {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px; }

.mch-header__link-style {
  transition: color ease-in-out 0.2s;
  text-decoration: none;
  color: #002855; }
  .mch-header__link-style:hover {
    outline: 0;
    text-decoration: none;
    color: #002855; }

.mch-header__phone-number {
  font-weight: 700;
  color: #000000; }
  .mch-header__phone-number:hover {
    color: #002855;
    text-decoration: none; }
    .mch-header__phone-number:hover .mch-header__phone-icon svg path {
      fill: #002855; }

.mch-header__phone-icon svg path {
  fill: #000000; }

.mch-header__worktime-title {
  color: #adadad; }

.mch-header__catalog--wrapper {
  box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 5; }

.mch-header__catalog-btn {
  font-size: 18px;
  height: auto;
  max-width: 230px;
  border: 2px solid #f0f0f0;
  padding: 20px 18px 22px 13px;
  background-color: #f0f0f0;
  background-repeat: repeat-x;
  background-image: linear-gradient(#f6f6f6, #f0f0f0);
  cursor: pointer; }
  .mch-header__catalog-btn .mch-header__catalog-btn-burger {
    display: block; }
  .mch-header__catalog-btn .mch-header__catalog-btn-close {
    display: none; }

.mch-header__catalog--open .mch-header__catalog-btn-close {
  display: block; }

.mch-header__catalog--open .mch-header__catalog-btn-burger {
  display: none; }

.mch-header__search {
  border: 1px solid #e1e4e6;
  background-color: #fff;
  width: 100%;
  display: block;
  height: 48px;
  font-size: 16px;
  font-size: 1rem;
  border-radius: 100px;
  padding: 0 70px 0 24px;
  text-overflow: ellipsis;
  transition: 0.2s border-color;
  box-shadow: none; }
  .mch-header__search:hover {
    border-color: #737b80; }

.mch-header__search-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 100%;
  color: #002855;
  font-size: 14px;
  font-size: 0.875rem;
  outline: 0;
  background: 0 0;
  border: none;
  padding: 0; }

.mch-header__profile-auth {
  width: 205px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px; }

.mch-header__basket-link {
  width: 24px;
  height: 24px;
  margin-right: 31px; }

.mch-header__basket-icon {
  width: 100%;
  height: 100%; }

.mch-open {
  display: block !important; }

.mch-button {
  padding-left: 15px;
  padding-right: 15px;
  border-color: #002855;
  font-size: 14px;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  border: 1px solid #002855;
  background-color: #002855;
  background-repeat: repeat-x;
  background-image: linear-gradient(#4574b0, #002855);
  height: 44px;
  border-radius: 3px;
  transition: 0.2s background-color; }
  .mch-button:hover {
    background: #002855; }

@media screen and (max-width: 991px) {
  .mch-catalog-first-wrapper {
    max-width: 820px !important; }
  .mch-menu__item-content {
    max-width: 544px !important; } }

@media screen and (max-width: 768px) {
  .mch-header__catalog-btn-close,
  .mch-header__catalog-btn-burger {
    display: none !important; } }

.mch-footer__section {
  background: #f2f3f5;
  border-top: 1px solid #fff;
  font-size: 14px;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif; }

.mch-footer__h-link {
  transition: color ease-in-out 0.2s;
  text-decoration: none;
  color: #002855; }
  .mch-footer__h-link:hover {
    text-decoration: none; }

.mch-footer__h-link-header {
  color: #002855;
  font-family: FreeSetC, sans-serif;
  font-weight: 700;
  font-size: 16px; }

.mch-footer__item-link {
  color: #333333;
  padding-left: 0px; }
  .mch-footer__item-link:hover {
    color: #d22424;
    text-decoration: none; }

.mch-footer__subscribe {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.4;
  color: #002855;
  font-family: FreeSetC, sans-serif;
  display: block;
  margin-bottom: 22px; }

.mch-footer__subscribe-input--wrapper {
  width: 50%; }

.mch-footer__subscribe-input {
  width: 100%;
  height: 44px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #d8dae7;
  background-color: #fff;
  font-size: 16px;
  font-size: 1rem;
  color: #002855;
  padding: 0 15px 0 40px;
  transition: 0.2s border-color; }

.mch-footer__subscribe-submit {
  padding-left: 15px;
  padding-right: 15px;
  border-color: #002855;
  font-size: 14px;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  border: 1px solid #002855;
  background-color: #002855;
  background-repeat: repeat-x;
  background-image: linear-gradient(#4574b0, #002855);
  height: 44px;
  border-radius: 3px;
  transition: 0.2s background-color; }
  .mch-footer__subscribe-submit:hover {
    background: #002855; }

.mch-footer__section--down {
  background: #08296c; }

.mch-section__down-container {
  padding-top: 20px;
  padding-bottom: 14px;
  font-size: 12px; }

.mch-section__down-container-link {
  text-decoration: none; }
  .mch-section__down-container-link:hover {
    text-decoration: none; }
    .mch-section__down-container-link:hover span {
      color: #d22424 !important; }

.mch-footer__logo {
  width: 190px;
  height: 100%;
  position: relative;
  left: -30px; }

.mch-catalog-first-wrapper {
  opacity: 0;
  visibility: hidden;
  height: 1px;
  max-height: calc(100vh - 170px);
  overflow-y: hidden;
  overscroll-behavior: contain;
  background: #fff;
  position: absolute;
  top: 101%;
  max-width: 990px;
  width: 1px;
  transition: 0.2s opacity ease-in-out 0.1s;
  box-shadow: none;
  transform: none;
  z-index: 5;
  text-align: left; }

.mch-menu__item-content {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  box-shadow: 0 1px 6px 0 rgba(17, 41, 66, 0.2);
  padding: 10px 15px;
  max-width: 728px;
  width: 1px;
  z-index: auto;
  opacity: 0;
  visibility: visible; }

.mch-item-content__header {
  color: #002855; }

.mch-item-content__h3 {
  font-weight: 400;
  font-size: 25px; }

.mch-item-content__btn-close {
  fill: #002855;
  cursor: pointer; }
  .mch-item-content__btn-close:hover {
    fill: #d22424; }

.mch-item-content__body-list {
  padding-left: 0px; }

.mch-item-content__section {
  list-style: none; }
  .mch-item-content__section ul {
    padding-left: 0px; }

.mch-item-content__h4 {
  transition: color ease-in-out 0.2s;
  text-decoration: none;
  color: #002855;
  margin: 15px 0 7px;
  font-family: dinpro-regular, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 15px; }
  .mch-item-content__h4:hover a {
    color: #d22424;
    text-decoration: none; }
  .mch-item-content__h4 a {
    color: #002855; }

.mch-item-content__third-level {
  font-size: 12px;
  line-height: 1.5;
  color: #000;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 4px 0;
  transition: 0.2s color;
  list-style: none; }
  .mch-item-content__third-level:hover a {
    color: #d22424;
    text-decoration: none; }
  .mch-item-content__third-level a {
    color: #000000; }

.mch-show-first-wrapper {
  width: calc(100vw - 47px) !important;
  overflow-y: auto;
  height: 100vh !important; }

.mch-show__item-content .mch-menu__item-content {
  left: 100%;
  width: calc(100vw - 260px - 47px);
  opacity: 1; }

.visibleFirstLevel {
  opacity: 1;
  visibility: visible;
  width: auto;
  height: auto; }

.mch-catalog__list--wrapper {
  background: #fff;
  z-index: 5;
  text-align: left;
  position: relative;
  top: 0;
  width: 242px;
  max-width: 990px;
  transition: 0.2s opacity ease-in-out 0.1s;
  box-shadow: none;
  transform: none;
  visibility: visible;
  opacity: 1; }

.mch-catalog__list {
  border-radius: 0 0 3px 3px;
  padding-top: 4px;
  width: 242px;
  overflow: visible;
  position: relative; }
  .mch-catalog__list:before {
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 6px 0 rgba(17, 41, 66, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 0 0 3px 3px;
    background: #fff; }

.mch-menu__item-list {
  opacity: 1;
  visibility: visible;
  max-width: 728px;
  width: auto !important;
  position: static;
  padding: 0;
  z-index: auto;
  box-shadow: 0 1px 6px 0 rgba(17, 41, 66, 0.2);
  font-size: 0;
  background: #fff;
  top: 0;
  left: 0;
  margin-bottom: 0px; }

.mch-menu__item {
  position: relative; }
  .mch-menu__item:hover .mch-menu__item-icon {
    fill: #d22424; }

.mch-menu__item-link {
  border-bottom: none;
  padding: 9px 25px 9px 15px;
  font-size: 14px;
  display: block;
  line-height: 1.6;
  font-family: FreeSetC, sans-serif;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #e8ebed;
  transition: 0.2s color, 0.2s background-color;
  transition: color ease-in-out 0.2s;
  text-decoration: none;
  color: #002855; }
  .mch-menu__item-link:hover {
    background: #f7fafc;
    color: #d22424;
    text-decoration: none; }

.mch-menu__item-icon {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -12px;
  z-index: 5;
  fill: #2f5ea9; }

.mch-show-on-scroll {
  position: fixed;
  bottom: 130px;
  right: 160px;
  display: block;
  z-index: 999;
  cursor: pointer; }
  .mch-show-on-scroll svg {
    opacity: 0.6;
    transition: opacity 0.15s ease-in-out; }
  .mch-show-on-scroll:hover svg {
    opacity: 1; }

.mch-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none; }

@keyframes menu-catalog {
  from {
    transform: translateY(10px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }
