.mch-catalog-first-wrapper {
  opacity: 0;
  visibility: hidden;
  height: 1px;
  max-height: calc(100vh - 170px);
  overflow-y: hidden;
  overscroll-behavior: contain;
  background: #fff;
  position: absolute;
  top: 101%;
  max-width: 990px;
  width: 1px;
  transition: 0.2s opacity ease-in-out 0.1s;
  box-shadow: none;
  transform: none;
  z-index: 5;
  text-align: left;
}
.mch-menu__item-content {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  box-shadow: 0 1px 6px 0 rgba(17, 41, 66, 0.2);
  padding: 10px 15px;
  max-width: 728px;
  width: 1px;
  z-index: auto;
  opacity: 0;
  visibility: visible;
}
.mch-item-content__header {
  color: #002855;
}
.mch-item-content__h3 {
  font-weight: 400;
  font-size: 25px;
}
.mch-item-content__btn-close {
  fill: #002855;
  cursor: pointer;
  &:hover {
    fill: #d22424;
  }
}
.mch-item-content__body-list {
  padding-left: 0px;
}
.mch-item-content__section {
  list-style: none;
  ul {
    padding-left: 0px;
  }
}
.mch-item-content__h4 {
  transition: color ease-in-out 0.2s;
  text-decoration: none;
  color: #002855;
  margin: 15px 0 7px;
  font-family: dinpro-regular, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 15px;
  &:hover {
    a {
      color: #d22424;
      text-decoration: none;
    }
  }
  a {
    color: #002855;
  }
}
.mch-item-content__third-level {
  font-size: 12px;
  line-height: 1.5;
  color: #000;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 4px 0;
  transition: 0.2s color;
  list-style: none;
  &:hover {
    a {
      color: #d22424;
      text-decoration: none;
    }
  }
  a {
    color: #000000;
  }
}
//on hover
.mch-show-first-wrapper {
  width: calc(100vw - 47px) !important;
  overflow-y: auto;
  height: 100vh !important;
}
.mch-show__item-content {
  .mch-menu__item-content {
    left: 100%;
    width: calc(100vw - 260px - 47px);
    opacity: 1;
  }
}
//on click
.visibleFirstLevel {
  opacity: 1;
  visibility: visible;
  width: auto;
  height: auto;
}
