@import "./catalog-list-content.scss";
.mch-catalog__list--wrapper {
  background: #fff;
  z-index: 5;
  text-align: left;
  position: relative;
  top: 0;
  width: 242px;
  max-width: 990px;
  transition: 0.2s opacity ease-in-out 0.1s;
  box-shadow: none;
  transform: none;
  visibility: visible;
  opacity: 1;
}
.mch-catalog__list {
  border-radius: 0 0 3px 3px;
  padding-top: 4px;
  width: 242px;
  overflow: visible;
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 6px 0 rgba(17, 41, 66, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 0 0 3px 3px;
    background: #fff;
  }
}
.mch-menu__item-list {
  opacity: 1;
  visibility: visible;
  max-width: 728px;
  width: auto !important;
  position: static;
  padding: 0;
  z-index: auto;
  box-shadow: 0 1px 6px 0 rgba(17, 41, 66, 0.2);
  font-size: 0;
  background: #fff;
  top: 0;
  left: 0;
  margin-bottom: 0px;
}
.mch-menu__item {
  position: relative;
  &:hover {
    .mch-menu__item-icon {
      fill: #d22424;
    }
  }
}
.mch-menu__item-link {
  border-bottom: none;
  padding: 9px 25px 9px 15px;
  font-size: 14px;
  display: block;
  line-height: 1.6;
  font-family: FreeSetC, sans-serif;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #e8ebed;
  transition: 0.2s color, 0.2s background-color;
  transition: color ease-in-out 0.2s;
  text-decoration: none;
  color: #002855;
  &:hover {
    background: #f7fafc;
    color: #d22424;
    text-decoration: none;
  }
}
.mch-menu__item-icon {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -12px;
  z-index: 5;
  fill: #2f5ea9;
}
