//footer style
.mch-footer__section {
  background: #f2f3f5;
  border-top: 1px solid #fff;
  font-size: 14px;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}
.mch-footer__h-link {
  transition: color ease-in-out 0.2s;
  text-decoration: none;
  color: #002855;
  &:hover {
    text-decoration: none;
  }
}
.mch-footer__h-link-header {
  color: #002855;
  font-family: FreeSetC, sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.mch-footer__item-link {
  color: #333333;
  padding-left: 0px;
  &:hover {
    color: #d22424;
    text-decoration: none;
  }
}
.mch-footer__subscribe {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.4;
  color: #002855;
  font-family: FreeSetC, sans-serif;
  display: block;
  margin-bottom: 22px;
}
.mch-footer__subscribe-input--wrapper {
  width: 50%;
}
.mch-footer__subscribe-input {
  width: 100%;
  height: 44px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #d8dae7;
  background-color: #fff;
  font-size: 16px;
  font-size: 1rem;
  color: #002855;
  padding: 0 15px 0 40px;
  transition: 0.2s border-color;
}
.mch-footer__subscribe-submit {
  padding-left: 15px;
  padding-right: 15px;
  border-color: #002855;
  font-size: 14px;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  border: 1px solid #002855;
  background-color: #002855;
  background-repeat: repeat-x;
  background-image: linear-gradient(#4574b0, #002855);
  height: 44px;
  border-radius: 3px;
  transition: 0.2s background-color;
  &:hover {
    background: #002855;
  }
}
.mch-footer__section--down {
  background: #08296c;
}
.mch-section__down-container {
  padding-top: 20px;
  padding-bottom: 14px;
  font-size: 12px;
}
.mch-section__down-container-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    span {
      color: #d22424 !important;
    }
  }
}
.mch-footer__logo {
  width: 190px;
  height: 100%;
  position: relative;
  left: -30px;
}
