.mch-top-wrapper {
  position: relative;
  z-index: 5;
  background: #fff;
}
.mch-header__menu {
  &:hover {
    padding: 20px 5px 22px 13px;
    .mch-menu__wrapper-img {
      padding-left: 22px;
    }
    .mch-menu-btn__close {
      display: block;
    }
    .mch-menu-btn__open--default {
      display: none;
    }
    .mch-header__sub {
      animation: menu-catalog 1s ease-in;
    }
  }
}
.mch-header__logo {
  width: 100%;
  height: 100%;
  position: relative;
  left: -30px;
}
.mch-header__section {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}
.mch-header__link-style {
  transition: color ease-in-out 0.2s;
  text-decoration: none;
  color: #002855;
  &:hover {
    outline: 0;
    text-decoration: none;
    color: #002855;
  }
}
//
.mch-header__phone-number {
  font-weight: 700;
  color: #000000;
  &:hover {
    color: #002855;
    text-decoration: none;
    .mch-header__phone-icon {
      svg {
        path {
          fill: #002855;
        }
      }
    }
  }
}
.mch-header__phone-icon {
  svg {
    path {
      fill: #000000;
    }
  }
}

.mch-header__worktime-title {
  color: #adadad;
}
//section of header with catalog and form + profile income
.mch-header__catalog--wrapper {
  box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 5;
}
.mch-header__catalog-btn {
  font-size: 18px;
  height: auto;
  max-width: 230px;
  border: 2px solid #f0f0f0;
  padding: 20px 18px 22px 13px;
  background-color: #f0f0f0;
  background-repeat: repeat-x;
  background-image: linear-gradient(#f6f6f6, #f0f0f0);
  cursor: pointer;
  .mch-header__catalog-btn-burger {
    display: block;
  }
  .mch-header__catalog-btn-close {
    display: none;
  }
}
.mch-header__catalog--open {
  .mch-header__catalog-btn-close {
    display: block;
  }
  .mch-header__catalog-btn-burger {
    display: none;
  }
}
//search header panel

.mch-header__search {
  border: 1px solid #e1e4e6;
  background-color: #fff;
  width: 100%;
  display: block;
  height: 48px;
  font-size: 16px;
  font-size: 1rem;
  border-radius: 100px;
  padding: 0 70px 0 24px;
  text-overflow: ellipsis;
  transition: 0.2s border-color;
  box-shadow: none;
  &:hover {
    border-color: #737b80;
  }
}
.mch-header__search-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 100%;
  color: #002855;
  font-size: 14px;
  font-size: 0.875rem;
  outline: 0;
  background: 0 0;
  border: none;
  padding: 0;
}
// panel profile section in header
.mch-header__profile-auth {
  width: 205px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.mch-header__basket-link {
  width: 24px;
  height: 24px;
  margin-right: 31px;
}
.mch-header__basket-icon {
  width: 100%;
  height: 100%;
}
//generick
.mch-open {
  display: block !important;
}
.mch-button {
  padding-left: 15px;
  padding-right: 15px;
  border-color: #002855;
  font-size: 14px;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  border: 1px solid #002855;
  background-color: #002855;
  background-repeat: repeat-x;
  background-image: linear-gradient(#4574b0, #002855);
  height: 44px;
  border-radius: 3px;
  transition: 0.2s background-color;
  &:hover {
    background: #002855;
  }
}
@media screen and (max-width: 991px) {
  .mch-catalog-first-wrapper {
    max-width: 820px !important;
  }

  .mch-menu__item-content {
    max-width: 544px !important;
  }
}
@media screen and (max-width: 768px) {
  .mch-header__catalog-btn-close,
  .mch-header__catalog-btn-burger {
    display: none !important;
  }
}
