@import "./_header.scss";
@import "./_footer.scss";
@import "./catalog-list.scss";
//show on scroll
.mch-show-on-scroll {
  position: fixed;
  bottom: 130px;
  right: 160px;
  display: block;
  z-index: 999;
  cursor: pointer;
  svg {
    opacity: 0.6;
    transition: opacity 0.15s ease-in-out;
  }
  &:hover {
    svg {
      opacity: 1;
    }
  }
}
//menu overlay
.mch-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}
@keyframes menu-catalog {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
